# {{ ansible_managed }}

daemon = {{ config.daemon }}
dynamic_tuning = {{ config.dynamic_tuning }}
sleep_interval = {{ config.sleep_interval }}
update_interval = {{ config.update_interval }}
recommend_command = {{ config.enable_recommend }}
reapply_sysctl = {{ config.reapply_sysctl }}
