# {{ ansible_managed }}
# Last modified: {{ ansible_date_time.date }} {{ ansible_date_time.time }}

{% if config.dump_target %}
{{config.dump_target.kind}} {{config.dump_target.location}}
{% endif %}
path {{config.path}}
{% if config.core_collector %}
core_collector {{config.core_collector}}
{% endif %}
default {{config.action}}
